<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Service</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
  <style>
  body, * {
    margin: 0 0;
    background-color: #0000FF;
}
#gif{
      width: 100%;

    }
    .button {
        background-color: #FFF808;
        border: none;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: "futura";

    }
    .button:hover{
      background-color: #0000FF;
      color: #FFF808;
      }

  </style>
  <IMG id="gif" SRC="https://media.giphy.com/media/9FXvErYPCSB54Eb2pM/giphy.gif" ALT="Skim">
    <br><br><br><br>
    <center>
  <a class="button" href="{{ url_for('main.homepage') }}" >AGREE AND PROCEED TO WEBSITE</a>
  </center>
  <br>
</body>
