<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Terms of Service</title>
  </head>
  <body>
  <style>
  body, * {
    margin: 0 0;
    background-color: white;
}
#gif{
      width: 100%;

    }
    .button {
        background-color: #0000FF;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: "futura";

    }
    .button:hover{
      background-color: white;
      color: #0000FF;
      }

  </style>
  <IMG id="gif" SRC="https://66.media.tumblr.com/ce2883bf27a44e4d3bdcecbe46f510d4/tumblr_piypluarU51swralzo5_r1_1280.gif" ALT="Skim">
    <br><br><br><br>
    <center>
  <a class="button" href="{{ url_for('main.fiveB') }}" >OK</a>
  </center>
  <br>
</body>
