<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Terms of Service</title>
  </head>
  <body>
  <style>
  body, * {
    margin: 0 0;
    background-color: black;
}
#gif{
      width: 100%;

    }
    .button {
        background-color: #FFF808;
        border: none;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: "futura";

    }
    .button:hover{
      background-color: black;
      color: #FFF808;
    }

</style>
<IMG id="gif" SRC="https://66.media.tumblr.com/19a099b1d8991c2a319c4b76ba14743c/tumblr_piypfoQRs71swralzo7_400.gif" ALT="Skim">
  <br><br><br><br>
  <center>
<a class="button" href="{{ url_for('main.twoA') }}" >YES</a>&nbsp;&nbsp;
<a class="button" href="{{ url_for('main.twoB') }}" >NO</a>&nbsp;&nbsp;
</center>
</body>
