<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Service</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
  <style>
  body {
    margin: 0 0;
    background-color: #FFF808;

}

#title {
      z-index: 3;
      max-width: 200px;
      padding-top: 70px;
      padding-left: 60px;

}
  .text {
      padding-top: 70px;
      padding-right: 70px;
      float: right;
      text-align: left;
      font-family: "futura";
      width: 70vw;
      color: black;
      text-decoration: none;
      padding-bottom: 70px;
      font-size: calc(14px + (21 - 15) * ((100vw - 300px) / (1600 - 300)));
      line-height: calc(1.5em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

h2 {
  padding: 1vw;
  font-size: calc(25px + (25 - 13) * ((100vw - 300px) / (1600 - 300)));
  font-family: "futura";
}

.button {
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "futura";
    font-size: 15pt;
    font-size: calc(14px + (21 - 15) * ((100vw - 300px) / (1600 - 300)));

}
.button:hover{
  background-color: black;
  color: #FFF808;
}

h2 {
  padding: 1vw;
}

p {
  font-family: "futura";
}

.popup {
  position: fixed;
  padding: 30px;
  width: 50vw;
  left: 45%;
  margin-left: -25vw;
  top: 30%;
  margin-top: -90px;
  background: black;
  z-index: 20;
  font-size: 15px;
}

#popup1 {
  -webkit-box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

#popup2:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -2;
}

#popup2:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}

.blabla {
  font-size: 15px;
  color: black;
  font-family: futura;
}

.blabla:hover {
  color: blue;
  text-decoration: underline;
}

  </style>
  <div class="popup" id="popup2">
    <center>

      <h2>WE CARE ABOUT YOUR PRIVACY</h2>
    </center>
    <p>We have recently updated our Terms and Conditions. Please select  an option below to continue to our website.</p>
      <br><br>
    <center>
    <a class="button" href="{{ url_for('main.skim') }}" >Proceed to Terms and Conditions</a></center>
    <br>
  </div>
  <IMG id="title" SRC="https://66.media.tumblr.com/cb27d14c5cbed21a26ac96991ac06ad4/tumblr_piypluarU51swralzo6_r1_1280.png" ALT="Skim">
<div class="text">
  <h2>Welcome to SKIM</h2>
  Welcome and Congratulations, you’ve successfully made it!
  <br><br>
We are SKIM and our project focuses on how dazzling it can be to blindly accept Terms and Conditions and Privacy Policies. These terms and policies are more often than not written in legal English, making it difficult to understand even if carefully read. Furthermore, due to the amount of information that is supplied, we could miss out important paragraphs. This makes it easy for us to fall for scams as companies try to dazzle dangerous terms and clauses within their Ts&Cs and PPs taking advantage of your personal information and data.
<br><br>
In fact, you may have even missed our hidden ‘a’ in our logo as you might just have ‘SKIM-ed that as well, revealing our second name SKAM.
<br><br>
As the nature of this is quite complex, we have come up with our own graphic language, including colorful animations that dazzle you from the already dazzling Ts&Cs.
By using vibrant colors such as our yellow, we draw inspiration from warning signs that try to grab your attention. We need your attention – not only to understand our narrative within our animations but also because we would like to show you how dangerous it can be to blindly accept everything and how little effort we give to ‘understand’ such an important piece of information about our data protection.
<br><br>
  </body>
</div>
</html>