<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Terms of Service</title>
  </head>
  <body>
  <style>
  body, * {
    margin: 0 0;
    background-color: #0000FF;
}
#gif{
      width: 100%;

    }
    .button {
        background-color: #FFF808;
        border: none;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: "futura";

    }
    .button:hover{
      background-color: #0000FF;
      color: #FFF808;
      }

  </style>
  <IMG id="gif" SRC="https://66.media.tumblr.com/4b1c7f1f218a47bb0c11aec944eebaa6/tumblr_piypluarU51swralzo2_1280.gif" ALT="Skim">
    <br><br><br><br>
    <center>
  <a class="button" href="{{ url_for('main.seven') }}" >LEARN MORE</a>
  </center>
  <br>
</body>
