<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Terms of Service</title>
  </head>
  <body>
  <style>
  body, * {
    margin: 0 0;
    background-color: black;
}
#gif{
      width: 100%;

    }
    .button {
        background-color: #FFF808;
        border: none;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: "futura";

    }
    .button:hover{
      background-color: black;
      color: #FFF808;
      }

  </style>
  <IMG id="gif" SRC="https://66.media.tumblr.com/ca403ef54d975dcf0609692a292ebe0a/tumblr_piypfoQRs71swralzo9_1280.gif" ALT="Skim">
    <br><br><br><br>
    <center>
  <a class="button" href="{{ url_for('main.threeA') }}" >YES</a>
  <a class="button" href="{{ url_for('main.fiveB') }}" >NO</a>
  </center>
  <br>
</body>
