<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Terms of Service</title>
  </head>
  <body>
  <style>
  body, * {
    margin: 0 0;
    background-color: #FFF808;
}
#gif{
      width: 100%;

    }
    .button {
        background-color: black;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: "futura";

    }
    .button:hover{
      background-color: black;
      color: #FFF808;
      }

  </style>
  <IMG id="gif" SRC="https://66.media.tumblr.com/ea08fa34c3e2ceff74df603bce087412/tumblr_piypfoQRs71swralzo6_1280.gif" ALT="Skim">
    <br><br><br><br>
    <center>
  <a class="button" href="{{ url_for('main.threeB') }}" >CONTINUE</a>
</body>
